.App {
  text-align: center;
  background-color: #21D4FD;
  background-image: -webkit-linear-gradient(289deg, #21D4FD 0%, #B721FF 100%);
  background-image: -o-linear-gradient(289deg, #21D4FD 0%, #B721FF 100%);
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
